/* Write your CSS code here */

.blog-item {
  border-bottom: 0.6px solid #9aa5b1;
}

.blog-title-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  color: #9aa5b1;
}

.description {
  color: #9aa5b1;
}
